.pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  color: #f0f0f0;
}

.pomodoro-clock {
  position: relative;
  width: 140px;
  height: 140px;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__circle {
  fill: none;
  stroke: #4ade80; /* green */
  stroke-dasharray: 377;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
}

.timer-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.0rem;
  font-weight: bold;
}
.pomodoro-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.pomodoro-controls button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* background: #333; */
  color: #fff;
  font-size: 1.6rem;
  /* border: 2px solid #555; */
  /* cursor: pointer; */
  transition: transform 0.2s ease, background 0.2s ease;
}

.pomodoro-controls button:hover {
  background: #555;
  transform: scale(1.1);
}
